:root {
  --text-color: #1e1e1e;
  --text-muted: #8d8d8d;
  --text-card: #0d1b39;
  --accent: #e58411;
  --accent1: #00d6c9;
  --accent2: #7c7c7c;
  --hf-text-color: #fff;
  --bg: #2d2f33;

  --font-main: "Inter", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM Sans", sans-serif;
}
